// Variable Overrides 
$theme-colors: (
  "primary": #d95700
);

$body-bg: #ededed;


body {
    background: $body-bg;
    font-family: 'Roboto', sans-serif;
}

// Bootstrap Sass Imports
@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto');

.bgimage {
    width:100%;
    height:500px;
    background: url('../images/header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display:flex;
    align-items: center
}
.bgimage h5 {
    color:white;
    font-weight: 600;
    text-align: center;
    font-size: 48px;
}

.navbar {
    position: absolute !important;
    right: 0 !important;
    .nav-link {
        color: white !important;
    }
    .nav-link:focus {
        border-bottom: 2px solid white;
        padding-bottom: 0;
    }
}

.content {
    h3 {
        text-transform: uppercase;
        margin: 50px 0 50px 0;
    }
    .content-img  {
        position: relative;
        p.title-1,
        p {
            color: white;
            position: absolute;
            bottom: 0;
            left: 30px;
            display: none;
        }
        p.title-1 {
            font-size: 1.5em;
        }
        img {
            width: 100%;
            height: auto;
        }
        &.img-top {
            margin-bottom: 20px;
        }
    }
    .img-1 {
        &:hover {
            background: #7900C3;
            img {
                opacity: 0.5;
            }
            p.title-1 {
                display: block;
            }
        }
    }
    .img-2 {
        &:hover {
            background: #BEBF4A;
            img {
                opacity: 0.5;
            }
            p {
                display: block;
            }
        }
    }
    .img-3 {
        &:hover {
            background: #CD00AA;
            img {
                opacity: 0.5;
            }
            p {
                display: block;
            }
        }
    }
    .img-4 {
        &:hover {
            background: #BFA349;
            img {
                opacity: 0.5;
            }
            p {
                display: block;
            }
        }
    }
    .img-5 {
        &:hover {
            background: #CF504C;
            img {
                opacity: 0.5;
            }
            p {
                display: block;
            }
        }
    }
}

.page-footer {
    margin-top: 50px;
    .content-footer {
        background: white;
        padding: 10px 10px;
    }
}
